<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
    {% include 'header.jinja' %}

    <div class="form_container">
        <form class="form" method="POST" action="{{ url_for('add_student') }}">
            <section class="form__section">
                <input class="form__input form__text_field" type="text" name="student_name" id="student_name" placeholder="Student name" required>
            </section>
            <section class="form__section">
                <input class="form__input form__text_field" type="text" name="student_group" id="student_group" placeholder="Student group" required>
            </section>
            <section class="form__section">
                <input class="form__input form__text_field" type="text" name="student_tg" id="student_tg" placeholder="Student telegram" required>
            </section>
            <section>
                <input class='form__input button' type="submit" id="add_student_button" value="Add student">
            </section>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/add_student.js') }}"></script>
</body>
</html>
