<header class="header">
    <div class="header__title">
        <p>Admin panel</p>
    </div>

    <nav>
        <ul class="nav__elements">
            <li><a class="header__link" href="{{ url_for('students') }}">Students</a></li>
            <li><a class="header__link" href="{{ url_for('tests') }}">Tests</a></li>
            <li><a class="header__link" href="{{ url_for('results') }}">Results</a></li>
        </ul>
    </nav>
</header>    
